.MainPageCard{
position: fixed;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  min-height: 20%;
  border: 1px solid black;
  background-color: rgb(114, 73, 136);
  padding-bottom: 5%;
}
#MainPageCardFlex{
  display: flex;
  flex-direction: column;
  min-width: 50%;
  max-width: 50%;
  margin: 0 auto;
  position: relative;
  
}

#MainTitle{
  font-size: 3rem;
  font-weight: bolder;
  color: white;
}

.mainForm{
  display: flex;
  flex-direction: column;
}

.submitBtn{
  margin: 0 auto;
  min-width: 20%;
  margin-top: 5%;
  font-size: 1rem;
}