.ResultsList{
    position: relative;
    top: 45%;
    width: 100%;
    margin: 0 auto;
    z-index: -1;
}
table{
    width: 100%;
}

td,tr,th{
    overflow-x: scroll;
    border: 1px solid black;
    text-align: center;
}

td{
    padding: 10px;
}



